.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 40px;
  margin-top: 40px;
  font-family: Verdana, sans-serif;
}

/*============= FORM =================*/

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.FormGroup {
  display: flex;
  gap: 20px;
}

.FormLabel {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.FormField {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.FormField input, .FormField select {
  padding: 10px;
  border: 2px hsl(210, 100%, 90%) solid;
  border-radius: 5px;
  color: black;
  font-weight: 700;
}

.FormFieldValidationError {
  color: red;
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
}

.show {
  display: none;
}

.hide {
  display: block;
}

/*============= CONTACTS =================*/

.Contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ContactControls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.ContactButton {
  width: 100px;
  background-color: hsl(210, 100%, 50%);
  color: white;
  border: none;
  padding: 16px;
  font-weight: 900;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ContactButton:hover {
  background-color: hsl(210, 100%, 45%);
}

.ContactButton:active {
  background-color: hsl(210, 100%, 40%);
}

.ContactButton:disabled {
  background-color: hsl(210, 100%, 90%);
  cursor: not-allowed;
}

.ContactTable {
  border: 5px hsl(210, 100%, 60%, 20%) solid;
  border-radius: 10px;
  border-spacing: 0px;
  text-align: center;
  transition: all 0.3s ease;
}

.ContactTable th {
  width: 300px;
  padding: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ContactTable td {
  width: 300px;
  padding: 10px;
}

.ContactTable tr:nth-child(odd) {
  background-color: hsl(210, 100%, 60%, 20%);
}

.ContactTable tr:hover {
  background-color: hsl(210, 100%, 60%);
  color: white;
  font-weight: 700;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.ContactTable thead tr:hover {
  background-color: hsl(210, 100%, 60%, 20%);
  color: black;
  font-weight: 400;
  border-radius: 0px;
  transform: none;
}

